*{
    padding:0px;
    margin:0px;
}
.div{
    margin-left:  450px;
    background-color: gray;
    display:flex;
    width:400px;
    height:200px;
    justify-content: center;
    align-items: center;
    gap:3vw;
    position: sticky;
    top:300px;
}
#d{
    color:white;
}
h3{
    margin: 100px;
    
    
    text-align: center;
}